.container{
    width: 100%;
    display: flex;
    margin: 0;
    padding: 0;
}
.container .img{
    width: 50%;
}
.container .img img{
    width: 100%;
    height: 770px;
}
.container .input{
    width: 50%;
}
.container .input h3{
    margin-left: 25%;
    margin-top: 20%;
    color: rgb(255, 164, 0);
}
.container .input p{
    margin-left: 9%;
    margin-top: 20px;
    color: rgb(244, 164, 66);
}
.container .input input{
    width: 70%;
    margin-left: 10%;
    border-radius: 5px; 
}
.container .input Button{
    margin-top: 5%;
    margin-left: 10%;
    width: 70%;
}